body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("cinq.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px;
    margin-bottom: 50px;
}


header h1{
    text-align: center;
    color: black;
    /*background-image: linear-gradient(to right, #e3705e, #cd7c47, #50385c);
    height: 100vh;
    -webkit-text-stroke: 1px white;*/
}

nav{
    padding: 0%;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 0%;
}

nav ul li a:link{
    color: black;
    list-style: none;
    font-size: larger;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 nav ul li a:hover {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 body main{
    width: 80%;
    margin: auto;
 }

main {
    text-align: center; /* Pour centrage horizontal */
}


