 body main{
    width: 60%;
    margin: auto;
    font-size: larger;
    text-align: justify;
    display: flex;
    flex-direction: column;
 }

.section-target {
    padding-top: 1000px;
}

body main article{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
}


body main article h2{
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    border-radius: 10px;
    padding: 2vw;

}
body main article p{
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    border-radius: 10px;
    padding: 2vw;
}
body main article div div{
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    margin: auto;
    border-radius: 10px;
    padding: 2vw;
    margin: 2vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 10px;
}

body main article div{
    display: flex;
    border-radius: 10px;
}

main {
    text-align: center; /* Pour centrage horizontal */
}


#dev2, #bd2, #dev1, #bd1, #web1{ /* pour décaler avec le lien d'ancrage*/
    padding-top: 200px;
    margin-top: -200px;
}

@media screen and (max-width: 950px) { /*resonsive format telephone*/ 
    body main {
        width: 75%;
    }
    body main article div{
    display: flex;
    flex-direction: column;
    }
    body main article div div, h2, body main article, p {
        width: 100%;
        text-align: left;
        margin: 0vw;
        margin-top: 2vh;
    }
}
  